.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 2.5% auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.column-full,
.column-half {
  width: 100%;
  margin-top: 2.5%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1440px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
